<html>
<head>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <link rel="icon" type="image/png" href="images/favicon.png">

    <style>
    html, body { background-color: #def; }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="one-full column" style="margin-top: 100px;">
                <h1>Hello <strong>{{who}}</strong>!</h1>
                <p><img src="docker-awesome.png" style="width: 512px; height: 256px;" alt="docker is also pretty awesome, better get to the next assignment!" /></p>
                <p>This ♥ was brought to you by container <em>{{hostname}}</em></p>
            </div>
        </div>
    </div>
</body>
</html>
